<div class="container">
    <ul>
        {{#each searchArtist.items}}
        <li>
            {{this.name}} - {{this.images.0.url}}
        </li>
         {{/each}}
    </ul>
  
    {{this.name}}
 
</div> 